.radio_buttons_container{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.radio_button_wrapper{
    display: flex;
    gap: 1rem;
}

.radio[type="radio"] {
    accent-color: var(--button-bg);
    cursor: pointer;
}

.radio[type="radio"]:hover {
    accent-color: var(--button-bg-hover);
}